.homeNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 294px;
}

.buttonNav {
  width: 159px;
  height: 53px;

  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;

  border: none;

  background: #f5f6fb;
}

.buttonNav:first-child {
  margin-right: 2px;
}

.buttonNav:hover,
.buttonnav:focus {
  background: #ff751d;
  color: #fff;
}
