.mainContainer {
  position: relative;
  width: 100%;

  height: 567px;

  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .mainContainer {
    height: 1200px;

    background-image: url('../../../svg/cabbage_couple.svg');
    background-position: bottom 64px right 88px;
  }
}

@media screen and (min-width: 1280px) {
  .mainContainer {
    height: 760px;
    background-image: url('../../../svg/kapusta_home_group.svg');

    background-position: bottom right;
  }
}
