.container {
  display: flex;
  align-items: center;
}

.vector {
  width: 1px;
  height: 36px;
  background-color: #e0e5eb;
  margin: 0 20px;
}

.logOutBtnSvg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: inherit;

  outline: 1px solid red;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
